In [2]:
import pandas as pd
import netCDF4 as nc
import numpy as np

In [3]:
drifter_2005=nc.Dataset('NOAA_drifter_2005.nc','r')

In [4]:
times_2005=drifter_2005.variables['times'][:]
lons_2005=drifter_2005.variables['lons'][:]
lats_2005=drifter_2005.variables['lats'][:]
drifter_times = pd.DataFrame(times_2005)
drifter_lons = pd.DataFrame(lons_2005)
drifter_lats=pd.DataFrame(lats_2005)
drifter_times=drifter_times*24

In [14]:
for i in range(31):
    var=f"drifter{i+1}"
    globals()[var]=pd.DataFrame({'time':drifter_times.loc[i] , 'lons':drifter_lons.loc[i], 'lats' : drifter_lats.loc[i]}).dropna()

drifter_2005.close()

In [26]:
drifter19

         time        lons       lats
0      7518.0  129.237000  34.986000
1      7524.0  129.382996  35.127998
2      7530.0  129.531006  35.255001
3      7536.0  129.645996  35.409000
4      7542.0  129.748993  35.548000
...       ...         ...        ...
1407  15960.0  141.531998  43.956001
1408  15966.0  141.561005  43.969002
1409  15972.0  141.554001  43.960999
1410  15978.0  141.550003  43.952000
1411  15984.0  141.563004  43.937000

[1412 rows x 3 columns]